In [15]:
import pandas as pd

In [100]:
def INS_to_arrondissement (dataframe, INS_col, arrondissement_col):
    """
    Converts the column containing INS codes into the corresponding arrondissement, then adds arrondissement to the DataFrame.

        • dataframe: pandas.DataFrame item to which to add the column.
        • INS_col: str, name of column in your pandas.DataFrame containing the INS codes.
        • arrondissement_col: str, name to give to the new column that will contain arrondissements.
    """
    
    dataframe[arrondissement_col] = ""
    dataframe[INS_col] = dataframe[INS_col].astype(int)
    
    for INS_code in dataframe[INS_col]:

        if INS_code > 93000:
            dataframe[arrondissement_col] = "Philippeville"

        if INS_code > 92000:
            dataframe[arrondissement_col] = "Namur"
        
        if INS_code > 91000:
            dataframe[arrondissement_col] = "Dinant"
        
        if INS_code > 85000:
            dataframe[arrondissement_col] = "Virton"
        
        if INS_code > 84000:
            dataframe[arrondissement_col] = "Neufchâteau"
        
        if INS_code > 83000:
            dataframe[arrondissement_col] = "Marche-en-Famenne"
        
        if INS_code > 82000:
            dataframe[arrondissement_col] = "Bastogne"
        
        if INS_code > 81000:
            dataframe[arrondissement_col] = "Arlon" 
        
        if INS_code > 73000:
            dataframe[arrondissement_col] = "Tongres"
        
        if INS_code > 72000:
            dataframe[arrondissement_col] = "Maaseik"

        if INS_code > 71000:
            dataframe[arrondissement_col] = "Hasselt"

        if INS_code > 64000:
            dataframe[arrondissement_col] = "Waremme"

        if INS_code > 63000:
            dataframe[arrondissement_col] = "Verviers"

        if INS_code > 62000:
            dataframe[arrondissement_col] = "Liège"

        if INS_code > 61000:
            dataframe[arrondissement_col] = "Huy"

        if INS_code > 58000:
            dataframe[arrondissement_col] = "La Louvière"
  
        if INS_code > 57000:
            dataframe[arrondissement_col] = "Tournai"

        if INS_code > 56000:
            dataframe[arrondissement_col] = "Thuin"

        if INS_code > 55000:
            dataframe[arrondissement_col] = "Soignies"

        if INS_code > 54000:
            dataframe[arrondissement_col] = "Mouscron"
  
        if INS_code > 53000:
            dataframe[arrondissement_col] = "Mons"
   
        if INS_code > 52000:
            dataframe[arrondissement_col] = "Charleroi"
   
        if INS_code > 51000:
            dataframe[arrondissement_col] = "Ath"
    
        if INS_code > 46000:
            dataframe[arrondissement_col] = "Saint-Nicolas"
    
        if INS_code > 45000:
            dataframe[arrondissement_col] = "Audenarde"
    
        if INS_code > 44000:
            dataframe[arrondissement_col] = "Gand"
    
        if INS_code > 43000:
            dataframe[arrondissement_col] = "Eeklo"
    
        if INS_code > 42000:
            dataframe[arrondissement_col] =  "Termonde"

        if INS_code > 41000:
            dataframe[arrondissement_col] = "Alost"
 
        if INS_code > 38000:
            dataframe[arrondissement_col] = "Furnes"
 
        if INS_code > 37000:
            dataframe[arrondissement_col] = "Tielt"
  
        if INS_code > 36000:
            dataframe[arrondissement_col] = "Roulers"
 
        if INS_code > 35000:
            dataframe[arrondissement_col] = "Ostende"
  
        if INS_code > 34000:
            dataframe[arrondissement_col] = "Courtrai"
   
        if INS_code > 33000:
            dataframe[arrondissement_col] = "Ypres"
    
        if INS_code > 32000:
            dataframe[arrondissement_col] = "Dixmude"
    
        if INS_code > 31000:
            dataframe[arrondissement_col] = "Bruges"
  
        if INS_code > 25000:
            dataframe[arrondissement_col] = "Nivelles" 
   
        if INS_code > 24000:
            dataframe[arrondissement_col] = "Louvain"
    
        if INS_code > 23000:
            dataframe[arrondissement_col] = "Hal-Vilvorde"
    
        if INS_code > 21000:
            dataframe[arrondissement_col] = "Bruxelles"
    
        if INS_code > 13000:
            dataframe[arrondissement_col] = "Turnhout"
  
        if INS_code > 12000:
            dataframe[arrondissement_col] = "Malines"
  
        if INS_code > 11000:
            dataframe[arrondissement_col] = "Anvers"

In [40]:
def INS_to_province (dataframe, INS_col, province_col):
    """
    Pandas required!
    Converts the column containing INS_code codes into the corresponding province, then adds province to the DataFrame.

        • dataframe: pandas.DataFrame item to which to add the column.
        • INS_col: str, name of column in your pandas.DataFrame containing the INS_code codes.
        • province_col: str, name to give to the new column that will contain provinces.
    """
    
    dataframe[province_col] = ""
    dataframe[INS_col] = dataframe[INS_col].astype(int)
    
    for x in dataframe[INS_col]:
        if x > 91000:
            dataframe[province_col] = "Namur"
        
        if x > 81000:
            dataframe[province_col] = "Luxembourg"
        
        if x > 71000:
            dataframe[province_col] = "Limbourg"
        
        if x > 61000:
            dataframe[province_col] = "Liège"
        
        if x > 51000:
            dataframe[province_col] = "Hainaut"
        
        if x > 41000:
            dataframe[province_col] = "Flandre-Orientale"
        
        if x > 31000:
            dataframe[province_col] = "Flandre-Occidentale"
        
        if x > 25000:
            dataframe[province_col] = "Brabant wallon" 
        
        if x > 23000:
            dataframe[province_col] = "Brabant flamand" 

        if x > 21000:
            dataframe[province_col] = "Bruxelles"
        
        if x > 11000:
            dataframe[province_col] = "Anvers"

In [23]:
def province_to_region (dataframe, province_col, region_col):
    """
    Pandas required!
    Adds regions to a DataFrame based on provinces.

        • dataframe: pandas.DataFrame item to which to add the column.
        • province_col: str, name of column in your pandas.DataFrame containing the province name.
        • region_col: str, name to give to the new column that will contain regions.
    """
    
    dataframe[region_col] = ""
    
    for province in dataframe[province_col]:
        if province == ["Namur", "Luxembourg", "Liège", "Hainaut", "Brabant wallon"]:
            dataframe[region_col]  = "Wallonie"
        
        if province in ["Limbourg", "Brabant flamand", "Flandre-Orientale", "Flandre-Occidentale", "Anvers"]:
            dataframe[region_col]  = "Flandre"
        
        if province == "Bruxelles":
            dataframe[region_col]  = "Bruxelles-Capitale"

In [101]:
data = pd.read_csv(r"C:\Users\stgadmin\Desktop\Data_digicity\Pop_Belgique\Data_cleaned\Ref_BE_GeoData.csv", sep=";")

In [102]:
INS_to_arrondissement(data, INS_col="Ref_INS", arrondissement_col="arrondissement")

In [74]:
INS_to_province(data, INS_col="Ref_INS", province_col="province")
province_to_region(data, province_col="province", region_col="region")

In [103]:
data

,Ref_INS,Deutsh,English,Français,Nederlands,Start_validity,End_date,arrondissement
0,11001,Aartselaar,Aartselaar,Aartselaar,Aartselaar,1970-01-01,9999-12-31,Anvers
1,11002,Antwerpen,Antwerpen,Anvers,Antwerpen,1970-01-01,9999-12-31,Anvers
2,11004,Boechout,Boechout,Boechout,Boechout,1970-01-01,9999-12-31,Anvers
3,11005,Boom,Boom,Boom,Boom,1970-01-01,9999-12-31,Anvers
4,11007,Borsbeek,Borsbeek,Borsbeek,Borsbeek,1970-01-01,9999-12-31,Anvers
...,...,...,...,...,...,...,...,...
601,93018,Doische,Doische,Doische,Doische,1970-01-01,9999-12-31,Anvers
602,93022,Florennes,Florennes,Florennes,Florennes,1970-01-01,9999-12-31,Anvers
603,93056,Philippeville,Philippeville,Philippeville,Philippeville,1970-01-01,9999-12-31,Anvers
604,93088,Walcourt,Walcourt,Walcourt,Walcourt,1970-01-01,9999-12-31,Anvers
605,93090,Viroinval,Viroinval,Viroinval,Viroinval,1977-01-01,9999-12-31,Anvers