In [1]:
import pandas as pd
import numpy as np

# Geography : merge data to obtain a geopgraphy CSV

In [12]:
translations = pd.read_excel("./Data_to_clean/Geography_official_translation_FR-NL-DE-EN.xlsx")
validity = pd.read_excel("./Data_to_clean/Geography_validity_dates.xlsx", dtype="str")

In [13]:
validity

,LVL_REFNIS,CD_REFNIS,CD_SUP_REFNIS,TX_REFNIS_DE,TX_REFNIS_FR,TX_REFNIS_NL,DT_VLDT_START,DT_VLDT_END
0,1,02000,-,Flämische Region,Région flamande,Vlaams Gewest,01/01/1970,31/12/9999
1,1,03000,-,Wallonische Region,Région wallonne,Waals Gewest,01/01/1970,31/12/9999
2,1,04000,-,Region Brüssel-Hauptstadt,Région de Bruxelles-Capitale,Brussels Hoofdstedelijk Gewest,01/01/1970,31/12/9999
3,2,10000,02000,Provinz Antwerpen,Province d’Anvers,Provincie Antwerpen,01/01/1970,31/12/9999
4,2,20000,-,Provinz Brabant,Province de Brabant,Provincie Brabant,01/01/1970,31/12/1994
...,...,...,...,...,...,...,...,...
2764,4,93086,93000,Vodelée,Vodelée,Vodelée,01/01/1970,31/12/1976
2765,4,93087,93000,Vogenée,Vogenée,Vogenée,01/01/1970,31/12/1976
2766,4,93088,93000,Walcourt,Walcourt,Walcourt,01/01/1970,31/12/9999
2767,4,93089,93000,Yves-Gomezée,Yves-Gomezée,Yves-Gomezée,01/01/1970,31/12/1976
2768,4,93090,93000,Viroinval,Viroinval,Viroinval,01/01/1977,31/12/9999

In [16]:
translations

,CD_LAU,CD_MUNTY_REFNIS,TX_DESCR_DE,TX_DESCR_EN,TX_DESCR_FR,TX_DESCR_NL,DT_VLDT_STRT,DT_VLDT_STOP,CD_LVL_SUP,CD_LVL
0,BE1,04000,Region Brüssel-Hauptstadt,Brussels-Capital region,Région de Bruxelles-Capitale,Brussels Hoofdstedelijk Gewest,1900-01-01,9999-12-31 00:00:00,-,1
1,BE2,02000,Vlaams Gewest,Flanders region,Région flamande,Vlaams Gewest,1900-01-01,9999-12-31 00:00:00,-,1
2,BE3,03000,Region wallonne,Walloon region,Région wallonne,Waals Gewest,1900-01-01,9999-12-31 00:00:00,-,1
3,BE10,-,NaN,NaN,NaN,NaN,1900-01-01,9999-12-31 00:00:00,BE1,2
4,BE21,10000,Provincie Antwerpen,Province of Antwerpen,Province d’Anvers,Provincie Antwerpen,1900-01-01,9999-12-31 00:00:00,BE2,2
...,...,...,...,...,...,...,...,...,...,...
740,72038,72038,Hechtel-Eksel,Hechtel-Eksel,Hechtel-Eksel,Hechtel-Eksel,2019-01-01,9999-12-31 00:00:00,BE225,4
741,72039,72039,Houthalen-Helchteren,Houthalen-Helchteren,Houthalen-Helchteren,Houthalen-Helchteren,2019-01-01,9999-12-31 00:00:00,BE225,4
742,72041,72041,Dilsen-Stokkem,Dilsen-Stokkem,Dilsen-Stokkem,Dilsen-Stokkem,2019-01-01,9999-12-31 00:00:00,BE225,4
743,72042,72042,Oudsbergen,Oudsbergen,Oudsbergen,Oudsbergen,2019-01-01,9999-12-31 00:00:00,BE225,4
744,72043,72043,Pelt,Pelt,Pelt,Pelt,2019-01-01,9999-12-31 00:00:00,BE225,4

In [20]:
trans_valid = translations.merge(validity, how="outer", left_on="CD_MUNTY_REFNIS", right_on="CD_REFNIS")

In [22]:
trans_valid.to_csv("./Data_to_clean/translation_Belgian_locals.csv",sep=";", index=False)

# Census 2011 and 2021

In [23]:
416243 + 232886 + 255256 + 290047 + 173483

1367915

In [24]:
79580 + 209285 + 196533 + 43598 + 83577

612573

# Create list of unique countries present in DB

In [2]:
data = pd.read_csv("./Data_cleaned/Population_par_origine_1992-2024_pivot_clean.csv")

In [11]:
unique_countries = pd.DataFrame(data["Pays d\'origine"].unique())

In [17]:
unique_countries.to_excel("./Data_cleaned/countries_FR-EN-NL.xlsx", index=False)

# Translate countries into French

### Ref EU population - total

In [28]:
# Import both excels
EN = pd.read_excel("Data_cleaned\Ref_EU_population_data_1960-2023.xlsx")
FR = pd.read_excel("Data_cleaned/Ref_countries_FR-EN-NL.xlsx")

In [29]:
EN

         Pays Année de référence Sexe  Naissances    Décès  Population
0     Belgium         1960-01-01    M         NaN  61057.0   4477933.0
1     Belgium         1961-01-01    M         NaN  57477.0   4497822.0
2     Belgium         1962-01-01    M         NaN  60159.0   4496860.0
3     Belgium         1963-01-01    M         NaN  62373.0   4529505.0
4     Belgium         1964-01-01    M         NaN  59054.0   4571125.0
...       ...                ...  ...         ...      ...         ...
3451   Sweden         2019-01-01    F     55521.0  44740.0   5087747.0
3452   Sweden         2020-01-01    F     54822.0  48743.0   5131775.0
3453   Sweden         2021-01-01    F     55778.0  45474.0   5156448.0
3454   Sweden         2022-01-01    F     50858.0  47235.0   5191619.0
3455   Sweden         2023-01-01    F         NaN      NaN   5223232.0

[3456 rows x 6 columns]

In [6]:
# Create a dictionary with translations (key=EN, val=FR)
keys = FR["English"]
values = FR["Français"]
translations = dict(zip(keys, values))

In [31]:
# Replace English names by French ones
EN = EN.replace(to_replace=translations)

In [32]:
# Check if all countries have been duly translated
EN['Pays'].unique()

array(['Belgique', 'Bulgarie', 'Tchéquie', 'Danemark', 'Allemagne',
       'Estonie', 'Irlande', 'Grèce', 'Espagne', 'France', 'Croatie',
       'Italie', 'Chypre', 'Lettonie', 'Lituanie', 'Luxembourg',
       'Hongrie', 'Malte', 'Pays-Bas', 'Autriche', 'Pologne', 'Portugal',
       'Roumanie', 'Slovénie', 'Slovaquie', 'Finlande', 'Suède'],
      dtype=object)

In [33]:
EN.to_csv("Data_cleaned\Ref_EU_population_data_1960-2023_translated.csv", sep=";", index=False, encoding="utf-16")

### Ref EU population - non-native population

In [3]:
EN = pd.read_excel("Data_cleaned\Ref_EU_population_etrangere_1998-2023_pre-clean.xlsx")
FR = pd.read_excel("Data_cleaned/Ref_countries_FR-EN-NL.xlsx")

In [4]:
EN

        Pays  Année de référence  Population native
0    Belgium                1998          9289144.0
1    Belgium                1999          9321772.0
2    Belgium                2000          9341975.0
3    Belgium                2001          9401729.0
4    Belgium                2002          9462991.0
..       ...                 ...                ...
697   Sweden                2019          9297919.0
698   Sweden                2020          9387009.0
699   Sweden                2021          9473972.0
700   Sweden                2022          9571500.0
701   Sweden                2023          9656300.0

[702 rows x 3 columns]

In [8]:
# Dictionary done previously - Replace English names by French ones
EN = EN.replace(to_replace=translations)

In [9]:
EN

         Pays  Année de référence  Population native
0    Belgique                1998          9289144.0
1    Belgique                1999          9321772.0
2    Belgique                2000          9341975.0
3    Belgique                2001          9401729.0
4    Belgique                2002          9462991.0
..        ...                 ...                ...
697     Suède                2019          9297919.0
698     Suède                2020          9387009.0
699     Suède                2021          9473972.0
700     Suède                2022          9571500.0
701     Suède                2023          9656300.0

[702 rows x 3 columns]

In [10]:
# Check if all countries have been duly translated
EN['Pays'].unique()

array(['Belgique', 'Bulgarie', 'Tchéquie', 'Danemark', 'Allemagne',
       'Estonie', 'Irlande', 'Grèce', 'Espagne', 'France', 'Croatie',
       'Italie', 'Chypre', 'Lettonie', 'Lituanie', 'Luxembourg',
       'Hongrie', 'Malte', 'Pays-Bas', 'Autriche', 'Pologne', 'Portugal',
       'Roumanie', 'Slovénie', 'Slovaquie', 'Finlande', 'Suède'],
      dtype=object)

In [13]:
# Add suffix to year values
EN["Année de référence"] = EN["Année de référence"].astype(str) + "-01-01"

In [15]:
EN.to_csv("Data_cleaned\Ref_EU_population_etrangere_1998-2023_translated.csv", sep=";", index=False, encoding="utf-16")

# Merge several excels

In [2]:
# Get all paths
import os

directory = "./To_combine"

all_file_paths = []

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        all_file_paths.append(str(f))

In [3]:
all_file_paths

['./To_combine\\TF_SOC_POP_STRUCT_2009.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2010.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2011.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2012.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2013.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2014.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2015.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2016.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2017.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2018.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2019.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2020.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2021.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2022.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2023.xls',
 './To_combine\\TF_SOC_POP_STRUCT_2024.xls']

In [4]:
# Segregate columns of interest: French names for communes, arrondissements, provinces, regions + NIS number + data 

cols=['CD_MUNTY_REFNIS',
 'TX_MUNTY_DESCR_FR',
 'TX_ADM_DSTR_DESCR_FR',
 'TX_PROV_DESCR_FR',
 'TX_RGN_DESCR_FR',
 'CD_SEX',
 'CD_NATLTY',
 'TX_NATLTY_FR',
 'TX_CIV_STS_FR',
 'CD_AGE',
 'MS_POPULATION',
 'CD_YEAR']

In [5]:
# Import all excels

a2 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2009.xls', usecols=cols)
a3 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2010.xls', usecols=cols)
a4 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2011.xls', usecols=cols)
a5 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2012.xls', usecols=cols)
a6 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2013.xls', usecols=cols)
a7 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2014.xls', usecols=cols)
a8 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2015.xls', usecols=cols)
a9 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2016.xls', usecols=cols)
a10 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2017.xls', usecols=cols)
a11 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2018.xls', usecols=cols)
a12 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2019.xls', usecols=cols)
a13 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2020.xls', usecols=cols)
a14 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2021.xls', usecols=cols)
a15 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2022.xls', usecols=cols)
a16 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2023.xls', usecols=cols)
a17 = pd.read_excel('./To_combine\\TF_SOC_POP_STRUCT_2024.xls', usecols=cols)

In [6]:
# List with all Excels
all_files = [a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17]

In [7]:
# Total expected lenght (number of rows in final data set)
x=0 
for e in all_files:
   x=x+len(e) 

print(x)

1048560

In [22]:
# Concatenate all data
afinal = pd.concat(all_files, axis=0)
afinal

,CD_MUNTY_REFNIS,TX_MUNTY_DESCR_FR,TX_ADM_DSTR_DESCR_FR,TX_PROV_DESCR_FR,TX_RGN_DESCR_FR,CD_SEX,CD_NATLTY,TX_NATLTY_FR,TX_CIV_STS_FR,CD_AGE,MS_POPULATION,CD_YEAR
0,12021,Lierre,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,189,2009
1,12002,Berlaar,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,58,2009
2,11057,Malle,Arrondissement d’Anvers,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,71,2009
3,12007,Bornem,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,97,2009
4,12014,Heist-op-den-Berg,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,181,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
65530,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,M,BEL,Belges,Veuf,70,1,2024
65531,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,56,6,2024
65532,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,63,14,2024
65533,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,86,31,2024
65534,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,97,4,2024

In [23]:
# Check if we have any nulls
afinal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1048560 entries, 0 to 65534
Data columns (total 12 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   CD_MUNTY_REFNIS       1048560 non-null  int64
 1   TX_MUNTY_DESCR_FR     1048560 non-null  object
 2   TX_ADM_DSTR_DESCR_FR  1048560 non-null  object
 3   TX_PROV_DESCR_FR      1006200 non-null  object
 4   TX_RGN_DESCR_FR       1048560 non-null  object
 5   CD_SEX                1048560 non-null  object
 6   CD_NATLTY             1048560 non-null  object
 7   TX_NATLTY_FR          1048560 non-null  object
 8   TX_CIV_STS_FR         1048560 non-null  object
 9   CD_AGE                1048560 non-null  int64
 10  MS_POPULATION         1048560 non-null  int64
 11  CD_YEAR               1048560 non-null  int64
dtypes: int64(4), object(8)
memory usage: 104.0+ MB

In [24]:
afinal[afinal["TX_PROV_DESCR_FR"].isnull()]

,CD_MUNTY_REFNIS,TX_MUNTY_DESCR_FR,TX_ADM_DSTR_DESCR_FR,TX_PROV_DESCR_FR,TX_RGN_DESCR_FR,CD_SEX,CD_NATLTY,TX_NATLTY_FR,TX_CIV_STS_FR,CD_AGE,MS_POPULATION,CD_YEAR
675,21001,Anderlecht,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,M,BEL,Belges,Célibataire,0,696,2009
690,21003,Berchem-Sainte-Agathe,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Célibataire,0,121,2009
691,21007,Forest (Bruxelles-Capitale),Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Célibataire,0,289,2009
692,21001,Anderlecht,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Célibataire,0,675,2009
693,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Célibataire,0,211,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
65530,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,M,BEL,Belges,Veuf,70,1,2024
65531,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,56,6,2024
65532,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,63,14,2024
65533,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,86,31,2024
65534,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,NaN,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,97,4,2024

In [25]:
# Where are the nulls? -> seems all nulls are for Brussels
afinal[afinal["TX_PROV_DESCR_FR"].isnull()].value_counts("TX_RGN_DESCR_FR")

TX_RGN_DESCR_FR
Région de Bruxelles-Capitale    42360
Name: count, dtype: int64

In [26]:
afinal = afinal.fillna("Bruxelles-Capitale")

In [27]:
afinal

,CD_MUNTY_REFNIS,TX_MUNTY_DESCR_FR,TX_ADM_DSTR_DESCR_FR,TX_PROV_DESCR_FR,TX_RGN_DESCR_FR,CD_SEX,CD_NATLTY,TX_NATLTY_FR,TX_CIV_STS_FR,CD_AGE,MS_POPULATION,CD_YEAR
0,12021,Lierre,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,189,2009
1,12002,Berlaar,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,58,2009
2,11057,Malle,Arrondissement d’Anvers,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,71,2009
3,12007,Bornem,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,97,2009
4,12014,Heist-op-den-Berg,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,181,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
65530,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,M,BEL,Belges,Veuf,70,1,2024
65531,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,56,6,2024
65532,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,63,14,2024
65533,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,86,31,2024
65534,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,97,4,2024

In [28]:
# Check if all years are correctly encoded
afinal["CD_YEAR"].unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022, 2023, 2024], dtype=int64)

In [29]:
# Add column containing full year as string
afinal["Année de référence"] = afinal["CD_YEAR"].astype("str") + "-01-01"
afinal

,CD_MUNTY_REFNIS,TX_MUNTY_DESCR_FR,TX_ADM_DSTR_DESCR_FR,TX_PROV_DESCR_FR,TX_RGN_DESCR_FR,CD_SEX,CD_NATLTY,TX_NATLTY_FR,TX_CIV_STS_FR,CD_AGE,MS_POPULATION,CD_YEAR,Année de référence
0,12021,Lierre,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,189,2009,2009-01-01
1,12002,Berlaar,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,58,2009,2009-01-01
2,11057,Malle,Arrondissement d’Anvers,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,71,2009,2009-01-01
3,12007,Bornem,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,97,2009,2009-01-01
4,12014,Heist-op-den-Berg,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,181,2009,2009-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,M,BEL,Belges,Veuf,70,1,2024,2024-01-01
65531,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,56,6,2024,2024-01-01
65532,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,63,14,2024,2024-01-01
65533,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,86,31,2024,2024-01-01
65534,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,97,4,2024,2024-01-01

In [30]:
# Arrondissement : keep only name
afinal["Arrondissement"] = afinal["TX_ADM_DSTR_DESCR_FR"].str.split(" de | d’", regex=True).str[-1]

In [31]:
# Province : keep only name
afinal["Province"] = afinal["TX_PROV_DESCR_FR"].str.split(" de | d’", regex=True).str[-1]

In [36]:
# Régions
regions = {"Région flamande":"Flandre",
           "Région wallonne": "Wallonie",
           "Région de Bruxelles-Capitale":"Bruxelles-Capitale"}

afinal["region"] = afinal["TX_RGN_DESCR_FR"].replace(regions)

In [34]:
afinal["TX_RGN_DESCR_FR"].unique()

array(['Région flamande', 'Région wallonne',
       'Région de Bruxelles-Capitale'], dtype=object)

In [37]:
afinal

,CD_MUNTY_REFNIS,TX_MUNTY_DESCR_FR,TX_ADM_DSTR_DESCR_FR,TX_PROV_DESCR_FR,TX_RGN_DESCR_FR,CD_SEX,CD_NATLTY,TX_NATLTY_FR,TX_CIV_STS_FR,CD_AGE,MS_POPULATION,CD_YEAR,Année de référence,Arrondissement,Province,region
0,12021,Lierre,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,189,2009,2009-01-01,Malines,Anvers,Flandre
1,12002,Berlaar,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,58,2009,2009-01-01,Malines,Anvers,Flandre
2,11057,Malle,Arrondissement d’Anvers,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,71,2009,2009-01-01,Anvers,Anvers,Flandre
3,12007,Bornem,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,97,2009,2009-01-01,Malines,Anvers,Flandre
4,12014,Heist-op-den-Berg,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,181,2009,2009-01-01,Malines,Anvers,Flandre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,M,BEL,Belges,Veuf,70,1,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale
65531,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,56,6,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale
65532,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,63,14,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale
65533,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,86,31,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale
65534,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,97,4,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale

In [38]:
# # Save as CSV
# afinal.to_csv("./Data_cleaned/BEPop_commune-nationalite-age-statut_2009-2024.csv", index=False, encoding="utf-16")

In [109]:
afinal["CD_NATLTY"].unique()

array(['BEL', 'ETR'], dtype=object)

# Extra cleaning: Commune/nationalité/âge/statut

In [12]:
data = pd.read_csv("./Data_cleaned/BEPop_commune-nationalite-age-statut_2009-2024.csv", encoding="utf-16")

In [6]:
data

,CD_MUNTY_REFNIS,TX_MUNTY_DESCR_FR,TX_ADM_DSTR_DESCR_FR,TX_PROV_DESCR_FR,TX_RGN_DESCR_FR,CD_SEX,CD_NATLTY,TX_NATLTY_FR,TX_CIV_STS_FR,CD_AGE,MS_POPULATION,CD_YEAR,Année de référence,Arrondissement,Province,region
0,12021,Lierre,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,189,2009,2009-01-01,Malines,Anvers,Flandre
1,12002,Berlaar,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,58,2009,2009-01-01,Malines,Anvers,Flandre
2,11057,Malle,Arrondissement d’Anvers,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,71,2009,2009-01-01,Anvers,Anvers,Flandre
3,12007,Bornem,Arrondissement de Malines,Province d’Anvers,Région flamande,M,BEL,Belges,Célibataire,0,97,2009,2009-01-01,Malines,Anvers,Flandre
4,12014,Heist-op-den-Berg,Arrondissement de Malines,Province d’Anvers,Région flamande,F,BEL,Belges,Célibataire,0,181,2009,2009-01-01,Malines,Anvers,Flandre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048555,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,M,BEL,Belges,Veuf,70,1,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale
1048556,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,56,6,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale
1048557,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,63,14,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale
1048558,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,86,31,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale
1048559,21005,Etterbeek,Arrondissement de Bruxelles-Capitale,Bruxelles-Capitale,Région de Bruxelles-Capitale,F,BEL,Belges,Veuf,97,4,2024,2024-01-01,Bruxelles-Capitale,Bruxelles-Capitale,Bruxelles-Capitale

In [13]:
data["TX_MUNTY_DESCR_FR"] = data["TX_MUNTY_DESCR_FR"].str.split(pat="(").str[0]

In [19]:
uniques = data["TX_MUNTY_DESCR_FR"].unique()

In [20]:
len(uniques)

591

In [21]:
# Save as CSV
data.to_csv("./Data_cleaned/BEPop_commune-nationalite-age-statut_2009-2024.csv", index=False, encoding="utf-16")

# Unpivot main fact table from SQL Server

In [26]:
import numpy as np
import pandas as pd
import os
import json
import pyodbc
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL

In [4]:
user_pass = pd.read_csv("../05_Librairies_python/04_SQL_librairies/SQL_pass.csv")
user_pass

  instance           mdp                 user              server
0  DataPAT  D@ta4Nalyst!  ICT-202-03\stgadmin  ICT-202-03\DATAPAT

In [5]:
# Connection server
server = user_pass.at[0,"server"]
user_name = user_pass.at[0,"user"]
password = user_pass.at[0,"mdp"]

connect_string = ('DRIVER={SQL Server};SERVER='
                     +server
                     +';Trusted_Connection=yes;UID='
                     +user_name
                     +';PWD='
                     + password
                    )

In [6]:
# Connection server + DB
server = user_pass.at[0,"server"]
username = user_pass.at[0,"user"]
password = user_pass.at[0,"mdp"]
database = "BelgiumPopulation"

connect_string = 'DRIVER={SQL Server};SERVER='+server+";DATABASE="+database+';Trusted_Connection=yes;UID='+username+';PWD='+ password

In [7]:
### use pyodbc with sqlalchemy
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connect_string})
engine = create_engine(connection_url) #+-= cnxn= pyodbc.connect(connection_string)

In [27]:
# Import table

DBBel = """
            SELECT * 
            FROM BEPopNationalities
        """

# Import all tables
mytable = pd.read_sql_query(DBBel, con=engine)

In [28]:
mytable

,INS-NIS,lieu de résidence,province,région,année de référence,sexe,Belgique,Allemagne,Autriche,Bulgarie,...,République Dominicaine,Brésil,Chili,Colombie,Équateur,Pérou,Amérique (autres),Australie,Océanie (autres),Indéterminés/Apatrides
0,\n11001,Aartselaar,Anvers,Flandre,1992-01-01,M,6935,11,0,0,...,0,0,2,0,1,0,0,0,0,1
1,\n11001,Aartselaar,Anvers,Flandre,1992-01-01,F,7096,5,0,0,...,0,0,7,0,2,0,0,0,0,2
2,\n11002,Anvers,Anvers,Flandre,1992-01-01,M,193669,785,103,31,...,4,30,415,16,22,46,72,47,7,266
3,\n11002,Anvers,Anvers,Flandre,1992-01-01,F,216987,455,82,25,...,21,61,175,16,22,28,80,24,6,173
4,\n11004,Boechout,Anvers,Flandre,1992-01-01,M,5543,7,0,1,...,0,0,1,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38773,\n93056,Philippeville,Namur,Wallonie,2024-01-01,F,4583,2,0,0,...,0,3,0,1,0,2,0,0,1,2
38774,\n93088,Walcourt,Namur,Wallonie,2024-01-01,M,8683,1,0,2,...,0,0,0,0,0,0,2,0,0,1
38775,\n93088,Walcourt,Namur,Wallonie,2024-01-01,F,9041,0,0,2,...,0,6,0,1,0,1,0,0,0,0
38776,\n93090,Viroinval,Namur,Wallonie,2024-01-01,M,2675,2,0,1,...,0,0,0,0,0,0,0,0,0,1
38777,\n93090,Viroinval,Namur,Wallonie,2024-01-01,F,2744,2,0,0,...,0,0,0,0,0,0,2,0,0,1

In [29]:
mytable["INS-NIS"] = mytable["INS-NIS"].str.replace(pat="\n", repl="")

In [30]:
mytable

,INS-NIS,lieu de résidence,province,région,année de référence,sexe,Belgique,Allemagne,Autriche,Bulgarie,...,République Dominicaine,Brésil,Chili,Colombie,Équateur,Pérou,Amérique (autres),Australie,Océanie (autres),Indéterminés/Apatrides
0,11001,Aartselaar,Anvers,Flandre,1992-01-01,M,6935,11,0,0,...,0,0,2,0,1,0,0,0,0,1
1,11001,Aartselaar,Anvers,Flandre,1992-01-01,F,7096,5,0,0,...,0,0,7,0,2,0,0,0,0,2
2,11002,Anvers,Anvers,Flandre,1992-01-01,M,193669,785,103,31,...,4,30,415,16,22,46,72,47,7,266
3,11002,Anvers,Anvers,Flandre,1992-01-01,F,216987,455,82,25,...,21,61,175,16,22,28,80,24,6,173
4,11004,Boechout,Anvers,Flandre,1992-01-01,M,5543,7,0,1,...,0,0,1,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38773,93056,Philippeville,Namur,Wallonie,2024-01-01,F,4583,2,0,0,...,0,3,0,1,0,2,0,0,1,2
38774,93088,Walcourt,Namur,Wallonie,2024-01-01,M,8683,1,0,2,...,0,0,0,0,0,0,2,0,0,1
38775,93088,Walcourt,Namur,Wallonie,2024-01-01,F,9041,0,0,2,...,0,6,0,1,0,1,0,0,0,0
38776,93090,Viroinval,Namur,Wallonie,2024-01-01,M,2675,2,0,1,...,0,0,0,0,0,0,0,0,0,1
38777,93090,Viroinval,Namur,Wallonie,2024-01-01,F,2744,2,0,0,...,0,0,0,0,0,0,2,0,0,1

In [31]:
# Strip whitespaces
df_obj = mytable.select_dtypes("object")
print(df_obj)

      INS-NIS lieu de résidence province    région année de référence sexe
0       11001        Aartselaar   Anvers   Flandre         1992-01-01    M
1       11001        Aartselaar   Anvers   Flandre         1992-01-01    F
2       11002            Anvers   Anvers   Flandre         1992-01-01    M
3       11002            Anvers   Anvers   Flandre         1992-01-01    F
4       11004          Boechout   Anvers   Flandre         1992-01-01    M
...       ...               ...      ...       ...                ...  ...
38773   93056     Philippeville    Namur  Wallonie         2024-01-01    F
38774   93088          Walcourt    Namur  Wallonie         2024-01-01    M
38775   93088          Walcourt    Namur  Wallonie         2024-01-01    F
38776   93090         Viroinval    Namur  Wallonie         2024-01-01    M
38777   93090         Viroinval    Namur  Wallonie         2024-01-01    F

[38778 rows x 6 columns]

In [32]:
mytable[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [33]:
mytable.iloc[:,6:].columns

Index(['Belgique', 'Allemagne', 'Autriche', 'Bulgarie', 'Chypre', 'Danemark',
       'Espagne', 'Finlande', 'France', 'Royaume-Uni',
       ...
       'République Dominicaine', 'Brésil', 'Chili', 'Colombie', 'Équateur',
       'Pérou', 'Amérique (autres)', 'Australie', 'Océanie (autres)',
       'Indéterminés/Apatrides'],
      dtype='object', length=107)

In [36]:
# Unpivot table
df = mytable.melt(id_vars=mytable.iloc[:,:6].columns, value_vars=mytable.iloc[:,6:].columns)

In [37]:
df

,INS-NIS,lieu de résidence,province,région,année de référence,sexe,variable,value
0,11001,Aartselaar,Anvers,Flandre,1992-01-01,M,Belgique,6935
1,11001,Aartselaar,Anvers,Flandre,1992-01-01,F,Belgique,7096
2,11002,Anvers,Anvers,Flandre,1992-01-01,M,Belgique,193669
3,11002,Anvers,Anvers,Flandre,1992-01-01,F,Belgique,216987
4,11004,Boechout,Anvers,Flandre,1992-01-01,M,Belgique,5543
...,...,...,...,...,...,...,...,...
4149241,93056,Philippeville,Namur,Wallonie,2024-01-01,F,Indéterminés/Apatrides,2
4149242,93088,Walcourt,Namur,Wallonie,2024-01-01,M,Indéterminés/Apatrides,1
4149243,93088,Walcourt,Namur,Wallonie,2024-01-01,F,Indéterminés/Apatrides,0
4149244,93090,Viroinval,Namur,Wallonie,2024-01-01,M,Indéterminés/Apatrides,1
4149245,93090,Viroinval,Namur,Wallonie,2024-01-01,F,Indéterminés/Apatrides,1

In [38]:
df["variable"] = df["variable"].str.strip()

In [42]:
df = df.rename(mapper={"variable":"pays", "value":"population"}, axis=1)
df

,INS-NIS,lieu de résidence,province,région,année de référence,sexe,pays,population
0,11001,Aartselaar,Anvers,Flandre,1992-01-01,M,Belgique,6935
1,11001,Aartselaar,Anvers,Flandre,1992-01-01,F,Belgique,7096
2,11002,Anvers,Anvers,Flandre,1992-01-01,M,Belgique,193669
3,11002,Anvers,Anvers,Flandre,1992-01-01,F,Belgique,216987
4,11004,Boechout,Anvers,Flandre,1992-01-01,M,Belgique,5543
...,...,...,...,...,...,...,...,...
4149241,93056,Philippeville,Namur,Wallonie,2024-01-01,F,Indéterminés/Apatrides,2
4149242,93088,Walcourt,Namur,Wallonie,2024-01-01,M,Indéterminés/Apatrides,1
4149243,93088,Walcourt,Namur,Wallonie,2024-01-01,F,Indéterminés/Apatrides,0
4149244,93090,Viroinval,Namur,Wallonie,2024-01-01,M,Indéterminés/Apatrides,1
4149245,93090,Viroinval,Namur,Wallonie,2024-01-01,F,Indéterminés/Apatrides,1

In [48]:
# Save as CSV
df.to_csv("./Data_cleaned/BEPop_commune-origine-sexe_1992-2024.csv", index=False, encoding= "utf-8-sig")

# Create a list of all possibilities for Junk dimension: Groupes

In [51]:
from itertools import product

In [52]:
age = [i for i in range(0,101)]
sexe = ["M", "F"]
statut = ["Célibataire", "Marié", "Veuf", "Divorcé"]
nationalité = ["belge", "non-belge"]

In [54]:
df_combination = pd.DataFrame(list(product(age,sexe,statut,nationalité)), columns=["âge", "sexe", "état_civil", "nationalité"])

In [55]:
df_combination

      âge sexe   état_civil nationalité
0       0    M  Célibataire       belge
1       0    M  Célibataire   non-belge
2       0    M        Marié       belge
3       0    M        Marié   non-belge
4       0    M         Veuf       belge
...   ...  ...          ...         ...
1611  100    F        Marié   non-belge
1612  100    F         Veuf       belge
1613  100    F         Veuf   non-belge
1614  100    F      Divorcé       belge
1615  100    F      Divorcé   non-belge

[1616 rows x 4 columns]